<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="four wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.about")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/aboutus">{{Tr(Lang, "footer.aboutUs")}}</a>
          <a class="item" href="/aboutjobs"><a href="mailto:hr@mycube.cn" target="_blank">{{Tr(Lang, "footer.aboutJobs")}}</a> </a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.product")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/products?type=cubes" >{{Tr(Lang, "footer.cubes")}}</a>
          <a class="item" href="/products?type=faces">{{Tr(Lang, "footer.faces")}}</a>
          <a class="item" href="/products?type=connectors">{{Tr(Lang, "footer.connectors")}}</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">{{Tr(Lang, "footer.support")}}</h4>
        <div class="ui inverted link list">
          <a class="item" href="/supService">{{Tr(Lang, "footer.supService")}}</a>
          <a class="item" href="/supPolicy">{{Tr(Lang, "footer.supPolicy")}}</a>
          <a class="item" href="/supRepair">{{Tr(Lang, "footer.supRepair")}}</a>
        </div>
      </div>
          <div class="four wide column">
          <h4 class="ui inverted header">{{Tr(Lang, "footer.weixin")}}</h4>
          <div class="ui image">
            <img src="img/mycubesWX.jpg"/>
          </div>
      </div>
    <div class="row">
      <div class="center column">
        {{Tr(Lang, "copyright") | safe}}
      </div>
    </div>
    </div>
  </div>
</div>
{{Extension.GABlock | safe}}