<div class="ui container">
  <div class="ui large secondary inverted menu">
  	{% for item in Navbar.Items %}
    <a class="{% if item.Link == Link %}active{% endif %} item" href="{{item.Link}}" {% if item.Blank %}target="_blank"{% endif %}>{% if item.Icon %}<i class="{{item.Icon}} icon"></i> {% endif %}{{Tr(Lang, item.Locale)}}</a>
    {% endfor %}
    <div class="right item">
      {% if Extension.EnableSearch %}
        <form action="/search">
          <div class="item">
            <div class="ui small input">
              <input name="q" value="{{Keyword}}" placeholder="{{Tr(Lang, "navbar.search")}}...">
            </div>
          </div>
        </form>
      {% endif %}
        <a class="item {% if Lang == 'zh-CN' %}active selected{% endif %}" href="{{Link}}?lang=zh-CN"><i class="world icon"></i>中</a>
        <a class="item {% if Lang == 'en-US' %}active selected{% endif %}" href="{{Link}}?lang=en-US"><i class="world icon"></i>en</a>
    </div>
  </div>
</div>