{% extends "base.html" %}
{% block title %}{{Title}} - {{Tr(Lang, "name")}}{% endblock %}
{% block body %}
<div class="ui inverted vertical center aligned segment">
    {% include Page.NavbarTplPath %}
</div>
<div id="app-4">
<div class="ui hidden divider"></div>
<div class="ui grid samples">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div  class="ui stackable six  link cards">
            {% verbatim %}
            <div class="red card" v-for="item in items">
                <div class="image">
                 <img v-bind:src="item.img1"/>
        <!--<img src="{{ item.img1 }}"> -->
                </div>
                <div class="content">
                    <div class="header">{{ item.name }}</div>
                    <div class="meta">
                        <a>{{ item.artist }}</a>
                    </div>
                    <div class="description">{{ item.desc }}</div>
                </div>
                <div class="extra content">
                    <span class="right floated">{{ item.catagory }} </span>
                    <span><i class="user icon"></i>{{ item.filelocation }} </span>
                </div>
                <a class="ui bottom attached button" v-bind:href="item.filelocation"><i class="download icon"></i> Download </a>
            </div>
            {% endverbatim %}
        </div>
    </div>
    <div class="one wide column"></div>
</div>
<div class="ui hidden divider"></div>
    <div class="ui vertical center aligned segment"><pagination :total="total" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions">
    </pagination></div>

</div>
<div class="ui hidden divider"></div>
<script type="application/javascript" >
    JsLocale.changeLocale("{{Lang}}");
</script>
<script type="text/javascript" src="/js/wop.js?v={{AppVer}}"></script>
{% include Page.FooterTplPath %}
{% endblock %}